<!DOCTYPE html>
<html ng-app="commentForm">
<head>
  <title>Angular JS Comment Form Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Ezequiel Maraschio">
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-rc.2/angular.js"></script>
  <script src="app.js"></script>
</head>
<body>
      <!--  Comment Form -->
      <form name="commentForm" ng-controller="MainController as mainCtrl" ng-submit="mainCtrl.addComment(comment)">
        <!--  Live Preview -->
        <blockquote>
          {{mainCtrl.comment.body}}
          <cite class="clearfix">—{{mainCtrl.comment.author}}</cite>
        </blockquote>

        <!--  Comment Form -->
        <h4>Submit a Comment</h4>
        <fieldset class="form-group">
          <textarea ng-model="mainCtrl.comment.body" class="form-control" placeholder="Write a short comment..." title="Review"></textarea>
        </fieldset>
        <fieldset class="form-group">
          <input ng-model="mainCtrl.comment.author" type="email" class="form-control" placeholder="test@example.org" title="Email" />
        </fieldset>
        <fieldset class="form-group">
          <input type="submit" class="btn btn-primary pull-right" value="Submit Comment" />
        </fieldset>
    </form>
</body>
</html>
